*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow-x: hidden;
	background: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	white-space: normal;
}

.wrap{
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 12%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
    width: 27%;
    margin-left: 3%;
	margin-right: 3%;
	
	margin-bottom: 25px;
	/* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22); */

	display: flex;
	flex-direction: column;
	/* align-items: center; */
	align-self: flex-start;

	transition: all .4s;
	white-space: normal;
}

.products-list .product-item .p-3{
	width: 100%;
	border-left: solid 2px rgb(213, 247, 77);
	border-right: solid 2px rgb(213, 247, 77);
	border-bottom: solid 2px rgb(213, 247, 77);
	border-radius: 4px 4px 4px 4px;

}


.products-list .product-item img{
	width: 100%;
	border-left: solid 2px rgb(213, 247, 77);
	border-right: solid 2px rgb(213, 247, 77);
	border-top: solid 2px rgb(213, 247, 77);
	border-radius: 4px 4px 4px 4px;

}

.products-list .product-item a{
	display: block;

    width: 110%;
    position: relative;
    left: -5%;
	border-radius: 0px 0px 0px 0px;
	
	padding: 8px 0;
	/* background: #2D3E50; */
	color: rgb(0, 27, 14);
	text-align: center;
	text-decoration: none;
	/* background: rgb(213, 247, 77); */

}
.target{

}
.target2.p-3 {
	border-left: solid 2px rgb(213, 247, 77);
    border-right: solid 2px rgb(213, 247, 77);
	border-top: solid 2px rgb(213, 247, 77);
	border-bottom: solid 2px rgb(213, 247, 77);
	border-radius: 0px 0px 81px 13px;
}
.carousel-indicators{
	background-color: #6d7fcc;
    position: sticky;
}
.controls-top{
	text-align: center;
}

.svg.svg-inline--fa.fa-chevron-right.fa-w-10{
	width: 50px;
	height: 50px;
}


/* ------------------------*/

h4 { font-family: 'Open Sans'; margin: 0;}

.modal,body.modal-open {
    padding-right: 0!important
}

body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

.modal-footer {
	display: flex;
	justify-content: flex-start;
}
.btn {
	position: absolute;
	right: 10px;
}




/* ----------------------------- */
/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		/* width: 47.5%; */
		width: 100%;
	}

	.products-list .product-item:nth-child(3n+1){
		/* margin-left: 4.5%; */
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}



.scrollmenu {
	overflow-x: hidden;
	overflow-y: auto;
	/* height: initial; */
	margin-top: 2%;
    margin-bottom: 2%;
	height: 550px;
  width: auto;
  padding: 10px;
  background: rgb(255, 255, 255);
  white-space: nowrap;

}

footer {
    background-color: #7386d5;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
}




/* --------------------------- */



/* ribbon style */

.ribbon-wrapper {
	position: relative;
}
  .ribbon-front {
    height: 100%;
    width: 112%;
    position: relative;
    left: -6%;
    z-index: 8;
    padding-left: 6%;
	padding-right: 6%;
	/* background: rgb(213,247,77);
background: -moz-linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(213,247,77,1) 14%, rgba(247,245,77,1) 54%, rgba(213,247,77,1) 100%);
background: -webkit-linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(213,247,77,1) 14%, rgba(247,245,77,1) 54%, rgba(213,247,77,1) 100%);
background: linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(213,247,77,1) 14%, rgba(247,245,77,1) 54%, rgba(213,247,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5f74d",endColorstr="#d5f74d",GradientType=1); */

background: rgb(213,247,77);
background: -moz-linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(187,218,63,1) 8%, rgba(213,247,77,1) 24%, rgba(247,245,77,1) 42%, rgba(247,247,122,1) 48%, rgba(246,247,112,1) 52%, rgba(242,245,77,1) 57%, rgba(213,247,77,1) 77%, rgba(187,218,63,1) 92%, rgba(213,247,77,1) 100%);
background: -webkit-linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(187,218,63,1) 8%, rgba(213,247,77,1) 24%, rgba(247,245,77,1) 42%, rgba(247,247,122,1) 48%, rgba(246,247,112,1) 52%, rgba(242,245,77,1) 57%, rgba(213,247,77,1) 77%, rgba(187,218,63,1) 92%, rgba(213,247,77,1) 100%);
background: linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(187,218,63,1) 8%, rgba(213,247,77,1) 24%, rgba(247,245,77,1) 42%, rgba(247,247,122,1) 48%, rgba(246,247,112,1) 52%, rgba(242,245,77,1) 57%, rgba(213,247,77,1) 77%, rgba(187,218,63,1) 92%, rgba(213,247,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5f74d",endColorstr="#d5f74d",GradientType=1);


/* background: rgb(187,218,63);
background: -moz-linear-gradient(93deg, rgba(187,218,63,1) 8%, rgba(213,247,77,1) 24%, rgba(247,245,77,1) 42%, rgba(242,245,77,1) 57%, rgba(213,247,77,1) 77%, rgba(187,218,63,1) 92%);
background: -webkit-linear-gradient(93deg, rgba(187,218,63,1) 8%, rgba(213,247,77,1) 24%, rgba(247,245,77,1) 42%, rgba(242,245,77,1) 57%, rgba(213,247,77,1) 77%, rgba(187,218,63,1) 92%);
background: linear-gradient(93deg, rgba(187,218,63,1) 8%, rgba(213,247,77,1) 24%, rgba(247,245,77,1) 42%, rgba(242,245,77,1) 57%, rgba(213,247,77,1) 77%, rgba(187,218,63,1) 92%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbda3f",endColorstr="#bbda3f",GradientType=1); */

}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #99c transparent transparent;
}

  .ribbon-edge-topleft {
	top: -10px;
	border-width: 10px 20px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 20px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 100%;
    border-color: transparent transparent transparent #99c;
}

  .ribbon-edge-topright {
	top: -10px;
	border-width: 10px 0 0 20px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 0px 20px;
}

  .ribbon-back-left {
	position: absolute;
	top: -10px;
	left: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: -10px;
	right: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}
