/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    font-family: 'Indie Flower', cursive;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    height: -webkit-fill-available;
}


#sidebar {
    z-index: 5;
    min-width: 140px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -140px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 8px;
    background: #7386d5;
}

#sidebar ul.components {

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 6px;
    font-size: 1.1em;
    display: block;
    padding-left:10px;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    left: 0.5%;
    top: -0.5%;
    z-index: 10;
    background: rgb(213,247,77);
background: -moz-linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(213,247,77,1) 14%, rgba(247,245,77,1) 54%, rgba(213,247,77,1) 100%);
background: -webkit-linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(213,247,77,1) 14%, rgba(247,245,77,1) 54%, rgba(213,247,77,1) 100%);
background: linear-gradient(93deg, rgba(213,247,77,1) 0%, rgba(213,247,77,1) 14%, rgba(247,245,77,1) 54%, rgba(213,247,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5f74d",endColorstr="#d5f74d",GradientType=1);
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -140px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

.modal-dialog{
    width: auto !important;
    margin: 0px !important;
}

img.modal-content.recibir-imagen{
    width: 140%;
    margin-left: 60%;
    margin-top: 8%;

}

.imagen{
    transition: all .2s ease-in-out;
    box-shadow: 0 0 0px #8d91c9;
    z-index: 5;
}
.imagen:hover{
    transform:scale(1.08);
    box-shadow: 0 0 18px #8d91c9;
}

img.logo_img {
    width: 90%;
    padding-left: 6%;
}
h3{
    margin: 0px !important;
}
/* .logo span{
    position: relative;
    display: block;
    background: url(https://mmteam.controldedominios.com/files/brillo/brillog.png) no-repeat;
    background-position: -300px 0px;
    margin-top: -137px;
    height: 133px;
    width: 132px;

}
.logo:hover span{
    background-position: 300px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
    transition-property: all;
    transition-duration: 1.5s;
} */


a.btn-floating.btn-lg.btn-fb{
    background-color: #d6d9e7;
}

footer h2{
    margin-top: auto !important;
    margin-bottom: auto !important;
}
ul.list-unstyled.list-inline.text-center {
    float: right;
}

.p-3.target2 {
    text-align: justify;
}